<h1>Create a Team and Heroes!</h1>
<form method="post" action="/teams">
  <label for="team[name]">Team Name:</label>
  <input name="team[name]" type="text">
  <label for="team[motto]">Team Motto:</label>
  <input name="team[motto]" type="text">
  <h2>Hero 1</h2>
  <label for="team[heros][][name]">Hero's Name:</label>
  <input name="team[heros][][name]" type="text" id="member1_name">
  <label for="team[heros][][power]">Hero's Power:</label>
  <input name="team[heros][][power]" type="text" id="member1_power">
  <label for="team[heros][][biography]">Hero's Biography:</label>
  <input name="team[heros][][biography]" type="text" id="member1_biography">
  <h2>Hero 2</h2>
  <label for="team[heros][][name]">Hero's Name:</label>
  <input name="team[heros][][name]" type="text" id="member2_name">
  <label for="team[heros][][power]">Hero's Power:</label>
  <input name="team[heros][][power]" type="text" id="member2_power">
  <label for="team[heros][][biography]">Hero's Biography:</label>
  <input name="team[heros][][biography]" type="text" id="member2_biography">
  <h2>Hero 3</h2>
  <label for="team[heros][][name]">Hero's Name:</label>
  <input name="team[heros][][name]" type="text" id="member3_name">
  <label for="team[heros][][power]">Hero's Power:</label>
  <input name="team[heros][][power]" type="text" id="member3_power">
  <label for="team[heros][][biography]">Hero's Biography:</label>
  <input name="team[heros][][biography]" type="text" id="member3_biography">
  <input type="submit" value="Submit">
</form>
